*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/TabbedCoordinatorLayout/
/StickyNavLayout/
/CoordinatorLayoutUserInfoShowPage/
/CoordinatorExamples/
/.idea
/QQBottomTab-master/
/DefineBehaviorFAB/
/CustomBehavior/
/MyNestScroll
/qqbroswer
/QQBroswer2

